<div>hello weorld</div>
<p>
\begin{{ '{' }}align}
\dot{{ '{' }}x} & = \sigma(y-x) \\
\dot{{ '{' }}y} & = \rho x - y - xz \\
\dot{{ '{' }}z} & = -\beta z + xy
\end{{ '{' }}align}
</p>

<h2>The Cauchy-Schwarz Inequality</h2>

<p>\[
\left( \sum_{{ '{' }}k=1}^n a_k b_k \right)^{{ '{' }}\!\!2} \leq
 \left( \sum_{{ '{' }}k=1}^n a_k^2 \right) \left( \sum_{{ '{' }}k=1}^n b_k^2 \right)
\]</p>    

<p>
  hello $\beta_2$</p>